{%extends 'base_ingreso.html'%} {%load static%}

{%block title%} {{Alumno}}{%endblock%}</title>

    {%block favicon%}
    <link rel="shortcut icon" href="{% static 'master/img/turtle.ico'%}" />
    {%endblock%}
  </head>
  <body>
    {%block contenido%} 
    <div id="inscripcion" class="container flex">
      <h4>Hola alumno {{request.session.nombre}}</h4>
      <ul>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'mostrarCurso' %}">Cursos Disponibles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'misCursos' %}">Chatea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'miCalendario' %}">mi calendario</a>
        </li>
    </ul>
  </div>


    {%endblock%} {# contenido principal#}
  </body>
</html>