{%extends 'base_ingreso.html'%} {%load static%}

{%block title%} {{misCursos}}{%endblock%}</title>

    {%block favicon%}
    <link rel="shortcut icon" href="{% static 'master/img/turtle.ico'%}" />
    {%endblock%}
  </head>
  <body>
    {%block contenido%} 

    
    <h2>mis actividades</h2>
    <h6>fecha de hoy: {{fecha_hoy}}</h6>
        <br>
        <h3>esta semana</h3>
        <table class="table table-striped">
          <thead>
            <tr class="agenda">
              <th scope="col">Lunes  {{dialunes}}</th>
              <th scope="col">Martes  {{diamartes}} </th>
              <th scope="col">Miercoles  {{diamiercoles}}</th>
              <th scope="col">Jueves  {{diajueves}}</th>
              <th scope="col">Viernes  {{diaviernes}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="agenda">
              <td>
                <ul>
              {%for actividad in lunes%}
              <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in martes %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in miercoles %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in jueves %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td>
                <ul>
                {%for actividad in viernes%}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              </tr>
          </tbody>
        </table><br>
        <h3>proxima semana</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Lunes  {{diaproxlunes}}</th>
              <th scope="col">Martes  {{diaproxmartes}} </th>
              <th scope="col">Miercoles  {{diaproxmiercoles}}</th>
              <th scope="col">Jueves  {{diaproxjueves}}</th>
              <th scope="col">Viernes  {{diaproxviernes}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="agenda">
              <td>
                <ul>
              {%for actividad in proxlunes%}
              <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in proxmartes %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in proxmiercoles %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td><ul>
                {%for actividad in proxjueves %}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              <td>
                <ul>
                {%for actividad in proxviernes%}
                <li><h6>{{actividad.taller.nombre}}</h6></li>
                <li>{{actividad.taller.descripcion}}</li>
                {%endfor%}
              </ul></td>
              </tr>
          </tbody>
        </table>
  
  {%endblock%} {# contenido principal#}

  </body>
</html>